@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Limelight&family=Permanent+Marker&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100svh;
  font-family: "Poppins";
}

.close {
  display: none;
}
/* Hero section */
.text {
  position: relative;
  color: black;
  margin: 0;
  padding: 0;
}

#text-0 {
  font-family: "Limelight", sans-serif;
  margin: 0;
  padding: 0;
}
#text-1 {
}
#text-2 {
  font-family: "Permanent Marker", sans-serif;
  margin: 0;
  padding: 0;
}

.text.dinamic-text-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: white;
  border-left: 2px solid black;
  animation: animate 4s steps(20) infinite;
}

@keyframes animate {
  0% {
    left: 0%;
  }
  40%,
  60% {
    left: calc(100% + 7px);
  }
  100% {
    left: 0%;
  }
}

/* Services section */
.services-section {
  grid-column: span 12;

  height: 100%;

  background-color: var(--background-color-blue);
  color: var(--background-color-white);
}

.services-description {
  grid-column: 4/10;
  gap: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
  margin: 100px 0;
}

.services-description h2 {
  font-size: var(--xxl-font-size);
}

.services-description p {
  font-size: var(--m-font-size);
}

.cards {
  grid-column: 2/12;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 30px;

  font-size: var(--xxxl-font-size);

  height: 700px;
  text-align: center;

  margin-bottom: 100px;
}

#card-1 {
  grid-column: 1/6;
  grid-row: 1/6;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--background-color-white);
  color: var(--background-color-blue);

  border-radius: 20px;
}

#card-2 {
  grid-column: 6/13;
  grid-row: 1/4;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--background-color-white);
  color: var(--background-color-blue);

  border-radius: 20px;
}

#card-3 {
  grid-column: 6/13;
  grid-row: 4/6;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--background-color-white);
  color: var(--background-color-blue);

  border-radius: 20px;
}
