---
import "../styles/global.css";

import NavBanner from "../components/NavBanner.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Projects from "../components/Projects.astro";
import Form from "../components/Form.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Simone Garofalo | Web designer & Developer"
    />
    <link rel="icon" type="image/svg+xml" href="/undefined.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Simone Garofalo | Web designer & Developer</title>
  </head>
  <body>
    <NavBanner />
    <Navbar />
    <Hero />
    <About />
    <Projects />
    <Form />
    <Footer />
  </body>
</html>
