---
import "../styles/global.css";

import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Service from "../components/Service.astro";
import Service2 from "../components/Service2.astro";
import Project from "../components/Project.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
---

<Navbar />
<Hero />
<h3
  id="servizi"
  class="text-7xl md:text-8xl font-bold text-[#333333] ml-5 mt-72 mb-20"
>
  About me
</h3>
<About />
<!-- <h3
  id="servizi"
  class="text-7xl md:text-8xl font-bold text-[#333333] ml-5 mt-72 mb-20"
>
  Servizi
</h3>
<section>
  <Service id="service-1" image="web-design.jpg" title="WEB DESIGN" />
  <Service2 id="service-2" image="branding.jpg" title="BRANDING" />
  <Service id="service-3" image="landing-page.jpg" title="LANDING PAGE" />
</section> -->

<h3
  id="progetti"
  class="text-7xl md:text-8xl font-bold text-[#333333] ml-5 mt-36 mb-20"
>
  Progetti
</h3>
<section>
  <Project
    id="project-1"
    image="moda.jpg"
    title="PROGETTO 1"
    description="Descrizione del primo progetto"
  />
  <Project
    id="project-2"
    image="arredo.jpg"
    title="PROGETTO 2"
    description="Descrizione del secondo progetto"
  />
  <Project
    id="project-3"
    image="beauty.jpg"
    title="PROGETTO 3"
    description="Descrizione del terzo progetto"
  />
</section>

<h3
  id="contatti"
  class="text-7xl md:text-8xl font-bold text-[#333333] ml-5 mt-36 mb-20"
>
  Contatti
</h3>
<Contact />
<Footer />
