<div id="about" class="h-32"></div>
<section id="about" class="h-full grid grid-cols-12">
  <div
    id="skills"
    class="col-start-2 col-end-12 md:col-start-5 md:col-end-9 mt-4 md:mt-0"
  >
    <h3 class="text-2xl font-semibold text-center mb-4">Stack</h3>
    <div class="flex flex-wrap justify-center text-lg gap-x-3 gap-y-6">
      <div>
        <img src="/public/icon/html-icon.svg" alt="" class="w-14" />
      </div>
      <div>
        <img src="/public/icon/css-icon.svg" alt="" class="w-14" />
      </div>
      <div>
        <img src="/public/icon/javascript-icon.svg" alt="" class="w-14" />
      </div>
      <div>
        <img src="/public/icon/node.js-icon.svg" alt="" class="w-14" />
      </div>
      <div>
        <img src="/public/icon/express-icon.svg" alt="" class="w-14" />
      </div>
      <div>
        <img src="/public/icon/mysql-icon.svg" alt="" class="w-14" />
      </div>
      <div>
        <img src="/public/icon/tailwind-icon.svg" alt="" class="w-14" />
      </div>
      <div>
        <img src="/public/icon/astro-icon.svg" alt="" class="w-14" />
      </div>
      <div>
        <img src="/public/icon/git-icon.svg" alt="" class="w-14" />
      </div>
      <div>
        <img src="/public/icon/npm-icon.svg" alt="" class="w-14" />
      </div>
      <div>
        <img src="/public/icon/wordpress-icon.svg" alt="" class="w-14" />
      </div>
      <div>
        <img src="/public/icon/figma-icon.svg" alt="" class="w-14" />
      </div>
    </div>
  </div>
  <div
    class="col-start-2 col-end-12 md:col-start-5 md:col-end-9 flex flex-col items-center justify-center text-center mt-24 md:mt-40"
  >
    <h3 class="text-2xl font-semibold text-center mb-4">Certificazioni</h3>
    <h4>Adobe Experience Manager Foundations</h4>
    <p class="text-xs mb-3 italic text-[#949494]">Adobe - Giu 2025</p>
    <h4>Introduction to Web Accessibility</h4>
    <p class="text-xs mb-3 italic text-[#949494]">edX - Giu 2025</p>
    <h4>CSS for JavaScript Developers</h4>
    <p class="text-xs mb-3 italic text-[#949494]">
      CSS for JavaScript Developers by Josh W. Comeau - Mar 2025
    </p>
    <h4>Responsive Web Design</h4>
    <p class="text-xs mb-3 italic text-[#949494]">freeCodeCamp - Feb 2025</p>
    <h4 class="">Corso Web Design & Front-end development</h4>
    <p class="text-xs mb-3 italic text-[#949494]">
      Nuova Accademia delle Belle Arti di Milano (NABA) - Gen 2025
    </p>
    <h4 class="">Web development bootcamp</h4>
    <p class="text-xs mb-3 italic text-[#949494]">Udemy - Set 2024</p>
  </div>
</section>
