<div class="h-lvh grid grid-cols-12 grid-rows-8">
  <!--     <div
      class="row-start-1 text-6xl ml-5 flex justify-end md:text-7xl lg:text-8xl transform -rotate-90"
    >
      <h1>Curriculum</h1>
    </div> -->
  <a href="/" class="col-start-2 flex items-end">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      height="40px"
      viewBox="0 -960 960 960"
      width="40px"
      fill="000000"
      ><path d="M400-80 0-480l400-400 71 71-329 329 329 329-71 71Z"></path></svg
    >
  </a>
  <div class="col-start-6 col-end-13 text-end m-5">
    <h2 class="text-5xl md:text-9xl">SIMONE GAROFALO</h2>
    <p>Web designer & Front-end developer</p>
  </div>
  <div class="col-start-2 col-end-12 row-start-5">
    <h3 class="text-3xl">SKILLS</h3>
    <p class="text-xs">
      HTML5, CSS3, JAVASCRIPT, PHP, MYSQL, ASTRO JS, TAILWIND, GSAP, WORDPRESS,
      FIGMA, UX/UI
    </p>
  </div>
  <div class="col-start-2 col-end-12 row-start-6">
    <h3 class="text-3xl">FORMAZIONE</h3>
    <h4>CORSO WEB DESIGNER</h4>
    <p class="text-xs">Nuova Accademia delle Belle Arti di Milano (NABA)</p>
    <h4>WEB DEVELOPMENT BOOTCAMP</h4>
    <p class="text-xs">Udemy</p>
    <h4>DIPLOMA IN AMMINISTRAZIONE, FINANZA E MARKETING</h4>
    <p class="text-xs">IIS Luigi Einaudi</p>
    <div class="col-start-2 col-end-6 row-start-7">
      <h3 class="text-3xl">ESPERIENZE LAVORATIVE</h3>
    </div>
  </div>
</div>
