<div class="h-14 grid grid-cols-12 my-6">
  <div class="col-start-2 col-end-12">
    <a href="/">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        height="40px"
        viewBox="0 -960 960 960"
        width="40px"
        fill="#333333"
        ><path d="M400-80 0-480l400-400 71 71-329 329 329 329-71 71Z"
        ></path></svg
      >
    </a>
  </div>
</div>

<div class="h-full grid grid-cols-12 text-5xl lg:text-7xl">
  <div class="col-start-2 col-end-12">
    <h1 class="font-bold">Curriculum</h1>
    <p class="overflow-hidden text-xs lg:text-3xl">
      Sono un <span class="text dinamic-text-content"
        >Web designer & Front-end developer</span
      >
    </p>
  </div>
</div>

<div class="h-[50vsh] grid grid-cols-12 mb-12">
  <div class="col-start-2 col-end-12 lg:col-start-2 lg:col-end-6 mt-8">
    <h3 class="font-bold text-3xl mb-4">Skills</h3>
    <div class="flex flex-wrap text-base gap-x-1 gap-y-4">
      <div>
        <span class="py-1 px-2 bg-[#FF6D1F] text-white rounded-full">HTML</span>
      </div>
      <div>
        <span class="py-1 px-2 bg-[#FF6D1F] text-white rounded-full">CSS</span>
      </div>
      <div>
        <span class="py-1 px-2 border-2 border-black rounded-full"
          >JavaScript</span
        >
      </div>
      <div>
        <span class="py-1 px-2 border-2 border-black rounded-full">PHP</span>
      </div>
      <div>
        <span class="py-1 px-2 border-2 border-black rounded-full">MySQL</span>
      </div>
      <div>
        <span class="py-1 px-2 bg-[#FF6D1F] text-white rounded-full">Astro</span
        ><br />
      </div>
      <div>
        <span class="py-1 px-2 bg-[#FF6D1F] text-white rounded-full"
          >Tailwind</span
        >
      </div>
      <div>
        <span class="py-1 px-2 border-2 border-black rounded-full">GSAP</span>
      </div>
      <div>
        <span class="py-1 px-2 bg-[#FF6D1F] text-white rounded-full"
          >Wordpress</span
        >
      </div>
      <div>
        <span class="py-1 px-2 border-2 border-black rounded-full">Figma</span>
      </div>
      <div>
        <span class="py-1 px-2 border-2 border-black rounded-full">UX/UI</span>
      </div>
    </div>

    <div class="flex flex-col mt-12">
      <h3 class="font-bold text-3xl mb-4">Formazione</h3>
      <h4 class="font-semibold">Corso Web Design & Front-end development</h4>
      <p class="text-xs mb-3 italic">
        Nuova Accademia delle Belle Arti di Milano (NABA)
      </p>
      <h4 class="font-semibold">Web development bootcamp</h4>
      <p class="text-xs mb-3 italic">Udemy</p>
      <h4 class="font-semibold">
        Diploma in Amministrazione, finanza e marketing
      </h4>
      <p class="text-xs italic">IIS Luigi Einaudi</p>

      <div class="flex flex-col mt-12">
        <h3 class="font-bold text-3xl mb-4">Esperienze lavorative</h3>
        <h4 class="font-semibold">Web designer freelance</h4>
        <p class="text-xs mb-3 italic">Milano</p>
        <h4 class="font-semibold">Customer Service Specialist</h4>
        <p class="text-xs italic">PMC Plus Srl</p>
      </div>
    </div>
  </div>

  <div
    class="col-start-2 col-end-12 mt-12 lg:mt-8 lg:col-start-8 lg:col-end-12"
  >
    <h3 class="font-bold text-3xl mb-4">Ultimo progetto</h3>
    <h4 class="font-bold text-xl mb-4">Portfolio personale</h4>
    <p class="mb-8">
      La realizzazione di questo portfolio mi ha permesso di mettere alla prova
      e consolidare molte delle competenze tecniche e grafiche che ho acquisito
      in questo ultimo anno.
    </p>
    <h6 class="font-bold mb-2">Stack utilizzato:</h6>
    <ul>
      <li class="mb-8">
        <span class="text-[#FF6D1F] font-bold">Astro</span> come framework front-end
        per realizzare un progetto che sfruttasse i superset di HTML all'interno
        dei componenti e la logica dell'architettura a isole.
      </li>
      <li class="mb-8">
        <span class="text-[#FF6D1F] font-bold">HTML</span> e <span
          class="text-[#FF6D1F] font-bold">CSS</span
        > (con Grid e Flexbox) per creare un design moderno e intuitivo ed ottimizzare
        la flessibilità del layout.
      </li>
      <li class="mb-8">
        <span class="text-[#FF6D1F] font-bold">JavaScript</span> per animare il menù
        di navigazione, creare testi reattivi e implementare uno scrolling dinamico
        della navbar.
      </li>
      <li class="mb-8">
        <span class="text-[#FF6D1F] font-bold">Tailwind</span> come framework CSS
        per gestire l'intera personalizzazione grafica del sito.
      </li>
      <li>
        <span class="text-[#FF6D1F] font-bold">Git</span> e <span
          class="text-[#FF6D1F] font-bold">GitHub</span
        > per il versionamento del codice e la pubblicazione delle modifiche apportate
        durante la progettazione.
      </li>
    </ul>
    <div class="flex gap-3 text-sm mt-8">
      <a href="/Simone Garofalo CV.pdf" download>
        <button class="border-2 border-black py-2 px-3 rounded-3xl">
          <div class="flex justify-center items-center gap-2">
            Scarica CV
            <div class="border-2 border-black bg-black rounded-full">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                height="12px"
                viewBox="0 -960 960 960"
                width="12px"
                fill="#ffffff"
                ><path
                  d="M440-800v487L216-537l-56 57 320 320 320-320-56-57-224 224v-487h-80Z"
                ></path></svg
              >
            </div>
          </div>
        </button>
      </a>
    </div>
  </div>
</div>
