<div class="grid grid-cols-12 grid-rows-2 gap-3">
  <div class="col-start-2 col-end-9 gap-4 flex flex-col text-xl">
    <h2>
      Aiuto imprenditori e realt&agrave locali a creare e migliorare la propria
      presenza nel digital così da aumentare credibilit&agrave e vendite
      attraverso il Web Design.
    </h2>
    <div>
      <button
        type="button"
        class="text-white bg-black rounded-full px-2 py-0.5 mt-2 text-center"
        >Scopri <span class="material-symbols-outlined"> arrow_right </span>
      </button>
    </div>
  </div>
  <div class="col-start-9 col-end-12 row-start-2 text-end">
    Sono specializzato nella creazione di siti web, landing page, UX/UI e brand
    design.
  </div>
</div>
