<footer id="contatti" class="h-full w-full grid grid-cols-12 mb-8">
  <div class="col-start-2 col-end-12 md:col-start-5 md:col-end-9 text-center">
    <div class="flex justify-center items-center gap-8 mt-8">
      <a href="mailto:simonegarofalo.webdesign@gmail.com">
        <img
          src="/email-icon.png"
          alt="email-icon"
          class="w-[32px] hover:scale-105 transition duration-200"
        />
      </a>
      <a
        href="https://www.linkedin.com/in/simone-garofalo/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img
          src="/linkedin-icon.svg"
          alt="linkedin-icon"
          class="w-[40px] hover:scale-105 transition duration-200"
        />
      </a>
      <a
        href="https://github.com/simonegarofalo"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img
          src="/github-icon.svg"
          alt="github-icon"
          class="w-[40px] hover:scale-105 transition duration-200"
        />
      </a>
    </div>
  </div>
</footer>
