<footer>
  <div class="h-30 md:h-80 grid grid-cols-12">
    <div class="col-start-2 col-end-12 flex justify-between items-end pb-8">
      <span class="text-xl"><a href="/">logo</a></span>
      <ul class="flex flex-row items-center gap-5 justify-center text-xl">
        <a href="#about" class="hover:underline cursor-pointer">About me</a>
        <a href="/curriculum" class="hover:underline cursor-pointer"
          >Curriculum</a
        >
        <a href="#progetti" class="hover:underline cursor-pointer">Progetti</a>
        <a href="#contatti" class="hover:underline cursor-pointer">Contatti</a>
      </ul>
    </div>
  </div>
</footer>
