<div class="min-w-full grid grid-cols-12">
  <div class="h-lvh col-start-2 col-end-12 flex items-center justify-start">
    <div class="text-7xl overflow-hidden pb-6">
      <span class="flex leading-loose">Ciao &#x1F44B;&#x1F3FC;</span>
      <span>Sono un</span>
      <span class="text dinamic-text-content"></span>
    </div>
  </div>
</div>

<script src="../scripts/animation-hero.js"></script>
