<header class="grid grid-cols-12 min-w-full">
  <nav class="col-span-12 flex justify-between mx-5 py-4">
    <ul class="mt-2 text-xl cursor-pointer">
      <li>about me</li>
      <li>curriculum</li>
      <li>progetti</li>
      <li>servizi</li>
      <li>contatti</li>
    </ul>
    <span class="text-4xl font-anton"><a href="index">ESSEDESIGN</a></span>
    <div>
      <button
        type="button"
        class="text-white bg-black rounded-full px-2 py-0.5 mt-2 text-center"
        >Scopri</button
      >
    </div>
  </nav>
</header>
