<header class="h-32 w-full grid grid-cols-12 fixed top-0 left-0 z-20">
  <nav
    id="navbar"
    class="col-start-2 col-end-12 flex items-center justify-between rounded-full p-6 my-6 shadow-lg bg-white"
  >
    <div id="logo" class="tremble text-lg leading-none hidden">
      <a href="/">simone garofalo</a>
    </div>
    <ul class="flex justify-center items-center">
      <li class="">
        <a
          href="#about"
          class="hover:text-blue-600 transition duration-200 cursor-pointer"
          >About</a
        >
      </li>
      <li class="ml-10">
        <a
          href="#progetti"
          class="hover:text-blue-600 transition duration-200 cursor-pointer"
          >Progetti</a
        >
      </li>
      <li class="ml-10">
        <a
          href="#contatti"
          class="hover:text-blue-600 transition duration-200 cursor-pointer"
          >Contatti</a
        >
      </li>
      <li id="button" class="ml-10 hidden">
        <a href="/Simone Garofalo CV.pdf" download>
          <div
            class="bg-blue-600 hover:bg-blue-800 transition duration-200 text-white rounded-full py-2 px-4 cursor-pointer"
          >
            Download CV
          </div>
        </a>
      </li>
    </ul>
  </nav>
</header>

<script src="/src/scripts/animation-navbar.js"></script>
