<header class="w-full grid grid-cols-12 fixed top-16 left-0 z-10 px-4 md:px-0">
  <nav
    id="navbar"
    class="text-sm lg:text-base col-span-12 md:col-start-4 md:col-end-10 lg:col-start-5 lg:col-end-9 flex items-center justify-center rounded-full p-4 bg-white shadow-lg bg-opacity-10 backdrop-blur-lg border"
  >
    <div class="flex justify-between items-center text-[#767676]">
      <a
        href="/#about"
        class="hover:text-black transition duration-200 cursor-pointer mr-10"
        >About</a
      >
      <div
        class="relative h-2 w-2 rounded-full flex justify-center items-center bg-[#f13221] mr-2"
      >
        <div class="pulsing absolute h-3 w-3 rounded-full bg-[#f13221]"></div>
      </div>
      <a
        href="/#progetti"
        class="hover:text-black transition duration-200 cursor-pointer"
        >Progetti</a
      >
      <a
        href="/#form"
        class="hover:text-black transition duration-200 cursor-pointer ml-10"
        >Contatti</a
      >
    </div>
  </nav>
</header>
