<header class="grid grid-cols-12 min-w-full">
  <nav class="col-start-2 col-end-12 flex flex-col">
    <ul class="text-6xl justify-end text-right">
      <li>
        <a href="#about" class="hover:underline cursor-pointer">ABOUT</a>
      </li>
      <li>
        <a href="#curriculum" class="hover:underline cursor-pointer"
          >CURRICULUM</a
        >
      </li>
      <li>
        <a href="#servizi" class="hover:underline cursor-pointer">SERVIZI</a>
      </li>
      <li>
        <a href="#progetti" class="hover:underline cursor-pointer">PROGETTI</a>
      </li>
      <li>
        <a href="#contatti" class="hover:underline cursor-pointer">CONTATTI</a>
      </li>
    </ul>
  </nav>
</header>
