<div id="banner" class="relative z-20 hidden">
  <div
    class="flex justify-center items-center fixed top-0 z-20 w-full h-10 bg-black"
  >
    <div
      class="flex justify-center items-center gap-2 md:gap-4 text-white text-xs md:text-base"
    >
      <p>Il tuo sito web è ottimizzato?</p>
      <button
        class="w-24 md:w-32 h-5 md:h-6 rounded-full bg-white text-black text-xs md:text-sm"
        >Verifica gratis</button
      >
    </div>
    <img
      id="close-banner"
      class="w-4 md:w-8 absolute right-0 mr-2 md:pr-4 cursor-pointer"
      src="./close-icon.svg"
      alt="close-icon"
    />
  </div>
</div>

<script src="/src/scripts/animation-banner.js"></script>
