<div id="contatti" class="h-32"></div>
<section class="grid grid-cols-12 md:mb-40">
  <div
    class="col-start-2 col-end-12 md:col-start-2 md:col-end-6 flex flex-col items-center justify-center gap-5"
  >
    <button
      class="bg-blue-600 text-white rounded-full px-6 py-4 hover:bg-blue-800"
      ><span class="text-xl">Richiedi informazioni</span></button
    >
    <button
      class="border-2 border-blue-600 text-blue-600 rounded-full px-5 py-4"
      ><span class="text-xl">Prenota il tuo servizio</span></button
    >
  </div>
  <div
    class="col-start-2 col-end-12 md:col-start-6 md:col-end-12 flex justify-center"
  >
    <form method="POST" action="" class="flex flex-col items-start">
      <fieldset class="flex flex-wrap gap-10 mb-5">
        <label for="name" class="flex flex-col"
          ><span class="text-xl">Il tuo nome</span>
          <input
            id="name"
            name="name"
            type="text"
            placeholder=""
            required
            class="border-b-2 border-black"
          /></label
        >
        <label for="society" class="flex flex-col">
          <span class="text-xl">La tua azienda</span>
          <input
            id="society"
            name="society"
            type="text"
            placeholder=""
            required
            class="border-b-2 border-black"
          /></label
        >
        <label for="email" class="flex flex-col"
          ><span class="text-xl">La tua mail</span><input
            id="email"
            name="email"
            type="email"
            placeholder=""
            required
            class="border-b-2 border-black"
          /></label
        >
        <label for="phone" class="flex flex-col"
          ><span class="text-xl">Il tuo numero</span><input
            id="phone"
            name="phone"
            type="text"
            placeholder=""
            required
            class="border-b-2 border-black"
          /></label
        >
      </fieldset>
      <fieldset class="flex flex-col mt-5 mb-10">
        <legend class="mb-5"
          ><span class="text-xl">Seleziona un servizio</span></legend
        >
        <label for="services"
          ><input
            id="website"
            type="radio"
            name="service"
            class="inline"
            checked
          />
          Sito Web</label
        >
        <label for="services"
          ><input
            id="landing-page"
            type="radio"
            name="service"
            class="inline"
          />
          Landing page</label
        >
        <label for="services"
          ><input id="newsletter" type="radio" name="service" class="inline" />
          Newsletter</label
        >
        <label for="services"
          ><input id="other" type="radio" name="service" class="inline" />
          Altro</label
        >
      </fieldset>
      <label for="terms-and-conditions" class="mb-5">
        <input
          class="inline"
          id="terms-and-conditions"
          type="checkbox"
          required
          name="terms-and-conditions"
        />
        Accetto
        <a href="">i termini e le condizioni</a>
      </label>
      <input
        type="submit"
        value="INVIA"
        class="bg-blue-600 text-white rounded-full px-10 py-2 hover:bg-blue-800 cursor-pointer"
      />
    </form>
  </div>
</section>
