---
import Todo from "../components/Todo.astro";
import Timer from "./Timer.astro";
import Weather from "./Weather.astro";
---

<div id="progetti" class="h-32"></div>

<section class="grid grid-cols-12">
  <div
    class="col-span-12 md:col-start-4 md:col-end-10 lg:col-start-5 lg:col-end-9 px-4 flex flex-col justify-center items-center gap-10 relative"
  >
    <div
      class="w-full h-[300px] bg-[url(/studio-yoga-new.webp)] bg-cover bg-center rounded-3xl border shadow-lg relative hover:scale-105 transition duration-200"
    >
      <div
        class="absolute bottom-[1rem] left-[1rem] rounded-full border flex
items-center justify-between px-2 gap-2"
      >
        <a
          href="https://github.com/simonegarofalo/landing-page"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img src="/github-icon.svg" alt="github-icon" class="w-[28px]" /></a
        >
        <a
          href="https://studio-yoga-landingpage.netlify.app/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img src="/website-icon.svg" alt="github-icon" class="w-[24px]" /></a
        >
      </div>
      <div class="absolute top-[1rem] right-[0.50rem]">
        <div
          class="relative h-3 w-3 rounded-full flex justify-center items-center bg-[#f13221] mr-2"
        >
          <div class="pulsing absolute h-5 w-5 rounded-full bg-[#f13221]"></div>
        </div>
      </div>
    </div>
    <div
      class="w-full h-[500px] bg-[url(/gelateria-milano.webp)] bg-cover bg-center rounded-3xl border shadow-lg relative hover:scale-105 transition duration-200"
    >
      <div
        class="absolute bottom-[0.5rem] left-[0.5rem] rounded-full border flex
    items-center justify-between px-2 gap-2"
      >
        <a
          href="https://github.com/simonegarofalo/ice-cream-shop"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img src="/github-icon.svg" alt="github-icon" class="w-[28px]" /></a
        >
        <a
          href="https://gelateria-milano.netlify.app/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img src="/website-icon.svg" alt="github-icon" class="w-[24px]" /></a
        >
      </div>
    </div>
    <div class="w-full h-[400px] rounded-3xl relative border shadow-lg">
      <Todo />
    </div>
    <div class="w-full h-[300px] rounded-3xl relative border shadow-lg">
      <Timer />
    </div>
    <div class="w-full h-[200px] rounded-3xl relative border shadow-lg">
      <Weather />
    </div>
    <div
      class="w-full h-[300px] flex justify-center items-center rounded-3xl border-4 border-[#EFEEEC] border-dotted relative"
    >
      <h3 class="text-[#767676]">Coming soon..</h3>
    </div>
  </div>
</section>
