---
import Todo from "../components/Todo.astro";
import Timer from "./Timer.astro";
import Weather from "./Weather.astro";
---

<div id="progetti" class="h-32"></div>

<section class="grid grid-cols-12">
  <div
    class="col-span-12 md:col-start-5 md:col-end-9 px-4 flex flex-col justify-center items-center gap-10"
  >
    <a
      href="https://studio-yoga-landingpage.netlify.app/"
      target="_blank"
      rel="noopener noreferrer"
      class="w-full h-[300px] bg-[url(/studio-yoga-new.png)] bg-cover bg-center rounded-3xl border shadow-lg relative hover:scale-105 transition duration-200"
    >
      <div></div></a
    >

    <a
      href="https://gelateria-milano.netlify.app/"
      target="_blank"
      rel="noopener noreferrer"
      class="w-full h-[500px] bg-[url(/gelateria-milano.png)] bg-cover bg-center rounded-3xl border shadow-lg relative hover:scale-105 transition duration-200"
    >
      <div>
        <!-- <a
        href="https://ice-cream-shop-project.netlify.app/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <div
          class="flex justify-center items-center absolute bottom-3 left-3 h-10 w-10 border-2 rounded-full cursor-pointer"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="24px"
            viewBox="0 -960 960 960"
            width="24px"
            fill="gray"
            class="hover:scale-110 transition duration-200"
          >
            <path d="m216-160-56-56 464-464H360v-80h400v400h-80v-264L216-160Z"
            ></path>
          </svg>
        </div>
      </a> -->
      </div>
    </a>
    <div
      class="w-full h-[300px] flex justify-center items-center rounded-3xl border-4 border-[#EFEEEC] border-dotted relative"
    >
      <h3 class="text-[#949494]">Coming soon..</h3>
    </div>
  </div>
</section>
