---
const { title, description, image, id } = Astro.props;
const bgStyle = `background-image: url('${image}')`;
---

<div class="h-[700px] grid grid-cols-12 mb-20">
  <div class="col-start-2 col-end-3 flex items-baseline">
    <h3
      class="text-6xl md:text-7xl transform [writing-mode:vertical-rl] rotate-180 whitespace-nowrap cursor-pointer"
    >
      {title}
    </h3>
  </div>
  <div
    id={id}
    class="bg-green-400 col-start-3 col-end-13 object-cover relative brightness-50 transition duration-700 hover:brightness-75 cursor-pointer"
    style={bgStyle}
  >
  </div>
</div>
