<div
  class="h-full w-full rounded-3xl flex flex-col justify-center items-center gap-4"
>
  <div
    id="display"
    class="flex justify-center items-center text-4xl font-martian font-light"
  >
    00:00:00
  </div>
  <div class="flex justify-center items-center">
    <button
      id="removeButton"
      class="h-10 w-16 flex justify-center items-center text-base bg-transparent border-none cursor-pointer transition-all duration-300 ease-in-out"
      onclick="remove()"
      aria-label="Rimuovi tempo"
      title="Rimuovi tempo"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        height="24px"
        viewBox="0 -960 960 960"
        width="24px"
        fill="#767676"
        class="hover:fill-black"
      >
        <path d="M200-440v-80h560v80H200Z"></path>
      </svg>
    </button>
    <button
      id="startButton"
      class="start h-10 w-24 text-base bg-transparent border-none rounded-3xl cursor-pointer transition-all duration-300 ease-in-out"
      onclick="toggleTimer()"
      aria-pressed="false"
    >
      Start
    </button>
    <button
      id="addButton"
      class="h-10 w-16 text-base flex justify-center items-center bg-transparent border-none cursor-pointer transition-all duration-300 ease-in-out"
      onclick="add()"
      aria-label="Aggiungi tempo"
      title="Aggiungi tempo"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        height="24px"
        viewBox="0 -960 960 960"
        width="24px"
        fill="#767676"
        class="hover:fill-black"
      >
        <path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z"
        ></path>
      </svg>
    </button>
  </div>
  <button
    id="resetButton"
    class="h-10 w-24 text-base bg-transparent border-none cursor-pointer transition-all duration-300 ease-in-out m-0 text-[#767676] hover:text-gray-700"
    onclick="reset()">Reset</button
  >
</div>

<script src="/src/scripts/timer.js"></script>
