<div class="h-full rounded-3xl flex justify-center items-center gap-5">
  <img id="weather-img" src="./assets/sun_4187025.png" alt="" class="w-24" />
  <div class="flex flex-col items-center">
    <span id="temperature" class="text-3xl"></span>
    <span id="city" class="text-3xl">Milano</span>
  </div>
</div>

<script src="/src/scripts/weather.js"></script>
